html, body, #root {
    min-height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #081020;
    color: white;
    font-family: Arial, sans-serif;
}

.lista {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, minmax(360px, 1fr));
    gap: 20px;
    padding: 40px;
}

@media (max-width: 1120px) {
    .lista {
        grid-template-columns: repeat(2, minmax(220px, 1fr));
    }
}

@media (max-width: 720px) {
    .lista {
        grid-template-columns: 1fr;
    }
}

.card {

    background: #12203c;

    padding: 20px;

    border-radius: 12px;

}

.card:hover {

    transform:
        translateY(-4px);

}

.tabela {

    width: 95%;

    margin: auto;

    border-collapse:
        collapse;

    background: #15223d;

}

.tabela th {

    background: #1d3f72;

    padding: 16px;

}

.tabela td {

    padding: 14px;

    text-align: center;

    border-bottom:

        1px solid #30466e;

}

.tabela tr:hover {

    background: #20385d;

}

@view-transition{
    navigation: auto;
}

::view-transition(:root){
    animation-duration: 1s;
   
}