.criar{

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

background:

#07142e;

}


.card{

width:700px;

padding:50px;

background:

#0f2148;

border-radius:30px;

display:flex;

flex-direction:column;

gap:25px;

}


.card h1{

color:white;

}


.card input,
.card textarea{

padding:20px;

border:none;

border-radius:20px;

background:

#17326b;

color:white;

font-size:18px;

}


.card textarea{

height:180px;

resize:none;

}


.card button{

height:65px;

border:none;

border-radius:18px;

background:

#3567ff;

color:white;

font-size:20px;

cursor:pointer;

}