*{

box-sizing:border-box;

}


.login-page{

position:fixed;

top:0;

left:0;

width:100vw;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(
140deg,
#061126,
#091b42,
#081a3b
);

overflow:hidden;

}

.login-card{

width:430px;

max-width:90vw;

padding:50px;

margin:auto;

background:

rgba(
16,
23,
49,
.92
);

border-radius:32px;

box-shadow:

0 40px 80px
rgba(
0,
0,
0,
.45
);

display:flex;

flex-direction:column;

gap:18px;

}

.login-logo{

width:90px;

height:90px;

margin:auto;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:42px;

background:

linear-gradient(
135deg,
#2f5dff,
#5988ff
);

}


.login-card h1{

margin:0;

text-align:center;

color:white;

font-size:42px;

}


.login-card p{

margin:0;

text-align:center;

color:#a7b2d1;

}


.campo{

display:flex;

align-items:center;

gap:14px;

padding:18px;

border-radius:18px;

background:

#13254f;

}


.campo span{

font-size:20px;

}


.campo input{

flex:1;

background:none;

border:none;

outline:none;

color:white;

font-size:16px;

}


.btn-login{

height:58px;

border:none;

border-radius:18px;

font-size:18px;

font-weight:700;

cursor:pointer;

background:

linear-gradient(
135deg,
#2f5dff,
#5886ff
);

color:white;

transition:.25s;

}


.btn-login:hover{

transform:
translateY(
-2px
);

}


.btn-guest{

height:56px;

border:none;

border-radius:18px;

background:

transparent;

border:

1px solid
#3b548d;

color:#d5dcff;

cursor:pointer;

}


.erro{

padding:12px;

border-radius:12px;

background:

rgba(
255,
80,
80,
.15
);

color:

#ff7f7f;

}


.footer{

text-align:center;

color:#9ba6ca;

}


.footer button{

margin-left:8px;

border:none;

background:none;

color:#5b86ff;

font-weight:700;

cursor:pointer;

}

.sucesso{

padding:12px;

border-radius:12px;

background:

rgba(
50,
255,
120,
.15
);

color:

#6eff95;

}